services:
  backend:
    build:
      context: ./backend
    environment:
      - PORT=3000
    volumes:
      - ./backend:/app
      - pong_data:/app/db      

    ports:
      - "3000:3000"
 
  frontend:
    build: 
      context: ./frontend
    ports:
      - "8080:8080"

  nginx:
    image: nginx:stable-alpine
    restart: always
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
      - backend

volumes:
  - pong_data:
  - ./nginx/nginx.conf:/etc/nginx/nginx.conf
  - ./nginx/certs/cert.pem:/etc/nginx/cert.pem
  - ./nginx/certs/key.pem:/etc/nginx/key.pem
# pong_data: with no fields means: create a local volume using the default driver, no special options.