		/* GLOBAL */

			* {
				box-sizing: border-box;
			}

			.border {
				border: 1px solid black;
			}

			body {
				min-height: 100vh;
				margin: 0;
				display: grid;
				grid-template-rows: auto 1fr auto;
				background-color: lightgreen;
				}

			/* LAYOUT */

			.max-width {
				width: 100%;
				max-width: 2560px;
			}

			.max-width-container {
				display: flex;
				justify-content: center;
			}

			.main-header, .main-footer {
				background-color: lightgreen;
			}

			.nav {
				background-color: lightgreen;
			}

			.board {
				background-color: lightyellow;
			}

			/* HEADER LAYOUT */

			.main-header__grid {
				display: grid;
				gap: 2em;
				grid-template-columns: auto 1fr auto;
				grid-template-areas: "logo name profile";
				padding: 1em;
				
			}

			.main-header__logo {
				display: flex;
				align-items: center;
				grid-area: logo;
				
			}

			.main-header__profile {
				grid-area: profile;
			}

			.main-header__profile_name {
				grid-area: name;
				display: flex;
				justify-content: flex-end; /* Center the content horizontally */
				align-items: center; /* Align items to the top of the div */
			}

			.main-header__priofile_name h1{
				text-align: right;
			}
			
			/* MAIN BOARD LAYOUT */
			.main-section {
				display: grid;
				grid-template-rows: min-content 1fr;
				background-color: white;
				/* gap: 10px; */

			}

			.nav {
				display: grid;
				grid-template-columns: 1fr;
			}

			.nav ul {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.nav li {
				text-align: center;
				padding: 4px 0;
			}

			.board {
				position: relative;
				width: 100%;
				height: 100%;
			}
			
			@media (width >= 600px) {
				.main-section {
					grid-template-columns: 70px 1fr; /*min-content when correct icon size*/
					grid-template-rows: 1fr;
					gap: 5px;
				}

				.nav ul {
					flex-direction: column;
					justify-content: flex-start;
					padding: 10px;
				}

				.nav li {
					padding: 4px;
					line-height: 1;
				}

			}
			/* FOOTER LAYOUT */
			.main-footer__grid {
				display: grid;
				gap: 2em;
				grid-template-areas: "copyright"
									"links";
				padding: 1em;
			}

			.main-footer__copyright {
				grid-area: copyright;
				color: darkgreen;
				font-size: 15px;
				font-weight: bold;
				text-align: center;
			}

			.main-footer__links {
				grid-area: links;
				color: darkgreen;
				font-size: 15px;
				font-weight: bold;
				text-align: center;
			}

			@media (width >= 600px) {
				.main-footer__grid {
					grid-template-areas: "copyright links";     
				}
			}